body {
    background-image: url("kermit.jpg");
    position: fixed;

}

#navbuttons li {
  list-style-type: none;
  display: inline;
}

#topbar {
  text-align: center;
}

#navbuttons{
  text-align: center;
  display: inline;
  padding-left: 240px;
}

.section {
  font-weight: bold;
  font-family: Georgia, Verdana, serif;
  font-style: italic;
  font-size: 40px;
}
/*
#navcontainer li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}*/

#copyright {
    position:absolute;
    width:100%;
    bottom:0px;
    padding-top: 100px;
}

.year {
  float: right;
}
